@page
@model Binned.Pages.User.OrdersModel
@Html.AntiForgeryToken()
@{
}
@*e2b8b8*@
<div class="mt-3 row">
    <h2 class="col-7">Your Orders</h2>
    <div class="col-5">
        <ul class="nav justify-content-between border-success border-bottom border-opacity-25">
            <li class="nav-item">
                <a class="nav-link active status" aria-current="page">All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link status">To Pay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link status">To Ship</a>
            </li>
            <li class="nav-item">
                <a class="nav-link status">To Receive</a>
            </li>
        </ul>
    </div>
</div>
<div id="grid"></div>
@*<div class="row">
    <div class="col-9"></div>
    <div class="col-3 w-25 border border-success border-bottom border-opacity-25">
        <hr class="w-25 justify-content-end">
    </div>
</div>*@
    <script>
        var val1
        $(".status").click(function () {
            val1 = $(this).text()
            console.log($(this).text())
            $.ajax({
                type: "GET",
                url: "/User/Orders?handler=OrderPartial",
                data: { status: val1 },
                dataType: "text",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function (result) {
                    $('#grid').html(result);
                });
            //console.log("hi")
            //console.log(val1)
            //$('#grid').load('/User/Orders?handler=OrderPartial&status=' + val1, function () { });
            //$('#grid').load("/User/Orders?handler=OrderPartial&", { status: val1 })
        });
    </script>