html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F2EEEE;
    margin-bottom: 60px;
}

.navbar {
    background-color: #8EA075;
}

.border-top {
    border-color: #8EA075;
}

.navbar-brand {
    color: white;
}

input, select {
    max-width: 600px;
}

.btn {
    min-width: 80px;
}
