@page
@model Binned.Pages.Admin.AccountDetailsModel
@{
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="MyBinnedUser.FirstName"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="MyBinnedUser.FirstName"
                           oninput="this.value = this.value.toUpperCase()" readonly />
                    <span asp-validation-for="MyBinnedUser.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="MyBinnedUser.LastName"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="MyBinnedUser.LastName" readonly />
                    <span asp-validation-for="MyBinnedUser.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input class="form-control" asp-for="MyUsers.Id" hidden />
                    <span asp-validation-for="MyUsers.Id" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input class="form-control" asp-for="MyUsers.Username" hidden />
                    <span asp-validation-for="MyUsers.Username" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="MyUsers.Email"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="MyUsers.Email" />
                    <span asp-validation-for="MyUsers.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="MyUsers.Role"></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.MyUsers.Role, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Member", Value = "Member", Selected = true },
                    new SelectListItem {Text = "Administrator", Value = "Admin" }
                    }, new { @class = "form-control" })                        
                    <span asp-validation-for="MyUsers.Role" class="text-danger"></span>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
            <img id="imgPreview" class="rounded-circle" style="height:300px;width:300px;object-fit:cover"
                 src="@(string.IsNullOrEmpty(Model.MyBinnedUser.ImageURL) ? "/uploads/user.png" : Model.MyBinnedUser.ImageURL)"
                 onerror="this.src='/uploads/user.png'" />
            <input class="form-control d-none" asp-for="MyBinnedUser.ImageURL" />
        </div>
    </div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
        <a class="btn btn-secondary ms-2" href="/Admin/Roles">Cancel</a>
    </div>
</form>

<script>
    function showImgPreview(input) {
        if (input.files[0]) {
            var uploadimg = new FileReader();
            uploadimg.onload = function (displayimg) {
                $("#imgPreview").attr('src', displayimg.target.result);
            }
            uploadimg.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }