@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<img src="~/uploads/carouselpic.png" />

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <p><em>Sustainablity is for everyone</em></p>
    <p></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body" style="background-color: #B7F1F9;">
                    <h5 class="card-title">Shop Now</h5>
                    <p class="card-text">
                        Thrift from brands you love!
                    </p>
                    <a asp-page="/User/productDisplay" class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-cash"> Shop</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body" style="background-color: #F9B7F9;">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">
                        Enjoy shopping now~
                    </p>
                    <a asp-page="/Account/Register" class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-door-open"> Register</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>