@page
@model Binned.Pages.errors._403Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center; color: #FF0000;">
    <div class="row">
        <div class="col-6">
            <h1 style="font-size: 150px; color: #FF0000; margin-bottom: 0px;">403</h1>
            <p style="font-size: 45px; ">Forbidden page.</p>
        </div>
        <div class="col-6">
            <img src="~/./uploads/donpen_sad.png" class="img-fluid w-100 h-100" />
        </div>
    </div>
    <a class="row btn btn-secondary" asp-page="/Index">Head back to main page!</a>
</div>
