@page
@model Binned.Pages.errors.custom404cshtmlModel
@{
    ViewData["title"] = "Page does not exists";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color:#24688E; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px;">We could not find this page.</p>
</div>

